body{
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 20px;
}

header{
    background-color: #243352 ;
    color: white;
    padding: 16px;
}

header h1{
    font-size: 22px;
}

nav a{
    color: rgb(171, 197, 188);
    text-decoration: none;
}

main{
    max-width: 600px;
    margin: 24px auto;
}

section{
    background-color: #687891;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

section h2{
    color: #243352;
    margin-bottom: 10px;
}

label{
    display: block;
    margin-top: 12px;
    font-weight: 700;
}

input, textarea, button{
    width: 95%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px
}

button{
    margin-top: 16px;
    background-color: #243352;
    color: white;
    border: none;
    cursor: pointer;
}

footer{
    text-align: center;
    color: gray;
    margin-top: 20px;
    font-size: 14px;
}

