* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 60px;
    background-color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    max-height: 90px;
    width: auto;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Cor de fundo */

main {
    background: linear-gradient(135deg, #93D156, #177E4F);
    padding: 40px;
    min-height: 100vh;
}

/* Container central */

.container {
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 20px;
    padding: 30px;
    max-width: 900px;
    margin: auto;
    backdrop-filter: blur(5px);  /* Aplica um efeito de desfoque no fundo atrás do elemento,   criando um visual mais moderno (tipo vidro fosco) */

}

/* Linhas */
.linha {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
}

/* Textos */ 

.linha .texto{
    width: 60%;
    color: #1a1a1a;
    line-height: 1.5;
}

/*Imagens */

.img-esquerda, .img-direita {
    width: 250px;
    margin-top: 55px;
}

/* Estilizando a nav */

.nav-ids {
    display: flex;
    gap: 2.5rem;
    margin-left: 0.7%;
    flex-wrap: wrap;
}

.nav-ids a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  transition: color 0.5s ease;
}

/* Linha verde embaixo ao passar o mouse */
.nav-ids a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #34d30ca8;
  transition: width 0.5s ease;
}

.nav-ids a:hover {
  color: #177E4F;
}

.nav-ids a:hover::after {
  width: 100%;
}
